/* generic */

:root {
  --header-color: #61dafb;
  --footer-color: #61dafb;
}

.flex {
  display: flex;
  padding: auto;
  margin: auto;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

/* header */

.header {
  background-color: var(--header-color);
  position: relative;
}

.logo {
  margin-left: 25px;
}

.top {
  margin-top: 15px;
}

.bottom {
  margin-bottom: 15px;
}

/* footer */

.footer {
  background-color: var(--footer-color);
  justify-content: end;
}

.right {
  margin-right: 25px;
}